*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 90vh;
    margin-top: 10px;
    background-color: coral;
}

#imagem{
    background-image: url("../img/forca_00.png");
    width: 434px;
    height: 472px;
    background-repeat:no-repeat;
    
}